anthropic
modal
numpy
openai
packaging
pydra_config
torch --index-url https://download.pytorch.org/whl/rocm6.2.4
torchvision --index-url https://download.pytorch.org/whl/rocm6.2.4
torchaudio --index-url https://download.pytorch.org/whl/rocm6.2.4
--index-url https://test.pypi.org/simple "hip-python"
tqdm
datasets
transformers
google-generativeai
together
pytest
ninja
# archon-ai
einops