anthropic
modal
numpy
openai
packaging
pydra_config
torch --index-url https://download.pytorch.org/whl/rocm6.3.1
torchvision --index-url https://download.pytorch.org/whl/rocm6.3.1
torchaudio --index-url https://download.pytorch.org/whl/rocm6.3.1
tqdm
datasets
transformers
google-generativeai
together
pytest
ninja
# archon-ai
einops